<section class="pr__services pr__section uk-section uk-section-default" id="pr__about">
  <div class="section-outer">
    <div class="section-heading">
      <div class="uk-container">
        <div class="inner">
          <div class="left">
            <hr class="line pr__hr__secondary">
            <h2 class="title uk-h2">About.</h2>
<!--            <span class="subtitle pr__heading__secondary">An opportunity to rise</span>-->
          </div>
        </div>
      </div>
    </div>
    <div class="uk-container">
      <div class="entry-body">
        <p class="uk-text">NLP Ventures is an investor and hands-on operational partner for portfolio companies in the Sports, Entertainment, and Technology sectors.
        </p>
        <p class="uk-text">We serve as a founder's most trusted teammate and an investor's strongest defender. As an active board member, we provide industry expertise, strategic direction, along with access to NLP Ventures world class partners, including:
        </p>
        <ul class="uk-text">
          <li>Investors</li>
          <li>A-List Athlete and Celebrity Partners</li>
          <li>Brand Builders</li>
          <li>Marketing Resources</li>
          <li>Media Relations</li>
          <li>Sports, Entertainment &amp; Tech Executives</li>
          <li>Legal Expertise</li>
          <li>M&A Opportunities</li>
        </ul>
        <p class="uk-text">At NLP Ventures we ensure that our portfolio companies shorten their time to scale and investors maximize their investments. Led by serial entrepreneur and NLP Ventures founder <a href="http://markfrench.info/" target="_blank">Mark French</a>, we work with with CEOs and Board of Directors to innovate & solve problems at every level to help businesses grow successfully in all stages.
        </p>
      </div>
    </div>
  </div>
</section><!-- Section: Portfolio End -->
<!--<hr class="pr__vr__section">-->
