<hr class="pr__vr__section">

<section class="pr__clients pr__section uk-section uk-section-large" id="pr__clients">
  <div class="uk-container">
    <div class="section-outer">
      <div class="uk-flex uk-flex-middle uk-grid uk-grid-large" data-uk-grid="">
        <div class="right uk-width-expand">
          <div class="section-heading">
            <div class="inner">
              <div class="left">
                <hr class="line pr__hr__secondary">
                <h2 class="title uk-h1">What Clients Say.</h2>
                <span class="subtitle pr__heading__secondary">From all over the world</span>
              </div>
            </div>
          </div>
          <div class="section-inner">
            <div class="item client-box style-one">
              <div class="outer">
                <div class="inner">
                  <p class="description">We are motivated by the satisfaction of our
                    clients. Put your trust in us and share
                    in our growth Asset Management is made up of a team of expert,
                    committed and experienced people with a passion for
                    financial markets. Our goal is to achieve continuous and
                    sustainable growth of our clients.</p>
                  <p class="client">Aron Smith, UX Designer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="left uk-width-2-5@m uk-flex-first">
          <div class="item client-box style-one client-image">
            <div class="image pr__image__cover pr__ratio__portrait" data-src="assets/images/client_01.jpg"
                 data-uk-img=""></div>
          </div>
        </div>
      </div><!-- Grid End -->
    </div><!-- Outer End -->
  </div><!-- Container End -->
</section><!-- Section: Clients End -->
