<section class="pr__features uk-section uk-padding-remove-bottom" id="pr_features">
  <div class="uk-container">
    <div class="section-inner">
      <div class="items-listing features-boxes uk-grid uk-grid-match uk-grid-medium uk-child-width-1-3@m"
           data-uk-grid="">
        <div class="item feature-box uk-active">
          <div class="inner">
            <i class="icon pr-logo-dribbble pr__icon__large"></i>
            <h3 class="title uk-h4">Sports.</h3>
            <hr class="line pr__hr__secondary">
            <p class="description">It is a long established fact that a reader will be
              distracted by the readable content of a page.</p>
            <a href="#" class="link uk-position-cover"></a>
          </div>
        </div>
        <div class="item feature-box">
          <div class="inner">
            <i class="icon pr-camera-video pr__icon__large"></i>
            <h3 class="title uk-h4">Entertainment.</h3>
            <hr class="line pr__hr__secondary">
            <p class="description">There are many variations of passages of available, but the
              majority alteration in some form.</p>
            <a href="#" class="link uk-position-cover"></a>
          </div>
        </div>
        <div class="item feature-box">
          <div class="inner">
            <i class="icon pr-code pr__icon__large"></i>
            <h3 class="title uk-h4">Technology.</h3>
            <hr class="line pr__hr__secondary">
            <p class="description">The generated Lorem Ipsum is therefore always free from
              repetition, injected humour.</p>
            <a href="#" class="link uk-position-cover"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- Section: Features End -->
