<title>Portfolio</title>
<section class="pr__services pr__section uk-section uk-section-default" id="pr__services">
  <div class="section-outer">
    <div class="section-heading">
      <div class="uk-container">
        <div class="inner">
          <div class="left">
            <hr class="line pr__hr__secondary">
            <h2 class="title uk-h2">Portfolio.</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-container">
      <div class="section-outer uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">
        <div class="uk-flex uk-flex-around uk-flex-middle uk-grid uk-grid-large" data-uk-grid="">
          {{ range where .Site.Pages "Params.series" "portfolio" }}
          <a href="{{ .Params.articleUrl }}" target="_blank">
            <div class="inner"><img src="{{ .Params.image }}" alt="{{ .Params.imageMetadata }} {{ .Params.title }}" height="200" width="
            {{ if .Params.width }}
              {{ .Params.width }}
            {{ else }}
              150
            {{ end }}">
            </div>
          </a>
          {{ end }}
        </div><!-- Grid End -->
      </div>
    </div>
  </div>
</section><!-- Section: Portfolio End -->
