<section class="pr__services pr__section uk-section uk-section-default" id="pr__press">
  <div class="section-outer">
    <div class="section-heading">
      <div class="uk-container">
        <div class="inner">
          <div class="left">
            <hr class="line pr__hr__secondary">
            <h2 class="title uk-h2">Press.</h2>
<!--            <span class="subtitle pr__heading__secondary">Full court</span>-->
          </div>
        </div>
      </div>
    </div>
    <div class="uk-container">
      <hr class="pr__hr__section">
      <div class="section-outer uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">
        <div class="uk-flex uk-flex-around uk-flex-middle uk-grid uk-grid-margin-small" data-uk-grid="">
          {{ range where .Site.Pages "Params.series" "press" }}
          <a href="{{ .Params.articleUrl }}" target="_blank">
            <div class="inner"><img src="{{ .Params.image }}" alt="NLP Ventures" height="200" width="
            {{ if .Params.width }}
              {{ .Params.width }}
            {{ else }}
              120
            {{ end }}">
            </div>
          </a>
          {{ end }}
        </div><!-- Grid End -->
      </div>
      <div class="section-outer uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">
        <hr class="pr__hr__section">
      </div>
    </div>
  </div>
</section><!-- Section: Portfolio End -->
<!--<hr class="pr__vr__section">-->

<!--<hr class="pr__vr__section">-->
<!--<section class="pr__blog pr__section section-slider uk-section uk-section-large" id="pr__blog">-->
<!--  <div class="section-outer">-->
<!--    <div class="section-heading pr__center">-->
<!--      <div class="uk-container">-->
<!--        <div class="inner">-->
<!--          <div class="center">-->
<!--            <h2 class="title uk-h1">Press.</h2>-->
<!--            <span class="subtitle pr__heading__secondary">Full Court</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>&lt;!&ndash; Container End &ndash;&gt;-->
<!--    </div>&lt;!&ndash; Heading End &ndash;&gt;-->
<!--    <div class="section-inner">-->
<!--      <div class="uk-container">-->
<!--        <div class="section-outer uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">-->
<!--          <div class="uk-flex uk-flex-around uk-flex-middle uk-grid uk-grid-large" data-uk-grid="">-->
<!--            {{ range where .Site.Pages "Params.series" "press" }}-->
<!--            <a href="{{ .Params.articleUrl }}">-->
<!--              <div class="inner"><img src="{{ .Params.image }}" alt="NLP Ventures" height="200"-->
<!--                                      width="200"></div>-->
<!--            </a>-->
<!--            {{ end }}-->
<!--          </div>&lt;!&ndash; Grid End &ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="uk-container uk-container-no">-->
<!--        <div class="blog-listing style-one blog-slider owl-carousel" data-items="4" data-loop="true"-->
<!--             data-center="true" data-margin="30" data-autoplay="true" data-dots="true">-->
<!--          <article class="post type-post">-->
<!--            <div class="outer">-->
<!--              <div class="featured-image">-->
<!--                <div class="image pr__image__cover" data-src="assets/images/posts/forbes.jpg"-->
<!--                     data-uk-img=""></div>-->
<!--              </div>-->
<!--              <div class="inner">-->
<!--                <a class="category"-->
<!--                   href="https://www.forbes.com/sites/jasonbelzer/2016/03/14/how-serial-entrepreneur-mark-french-became-the-sports-and-entertainment-industrys-biggest-disruptor/#401f707e7b47"></a>-->
<!--                <h3 class="title uk-h5"><a-->
<!--                  href="https://www.forbes.com/sites/jasonbelzer/2016/03/14/how-serial-entrepreneur-mark-french-became-the-sports-and-entertainment-industrys-biggest-disruptor/#401f707e7b47">How-->
<!--                  Serial Entrepreneur Mark French Became A Sports And Entertainment Industry Disruptor</a></h3>-->
<!--                <a-->
<!--                  href="https://www.forbes.com/sites/jasonbelzer/2016/03/14/how-serial-entrepreneur-mark-french-became-the-sports-and-entertainment-industrys-biggest-disruptor/#401f707e7b47"-->
<!--                  class="more icon pr-arrow-right"></a>-->
<!--                <a-->
<!--                  href="https://www.forbes.com/sites/jasonbelzer/2016/03/14/how-serial-entrepreneur-mark-french-became-the-sports-and-entertainment-industrys-biggest-disruptor/#401f707e7b47"-->
<!--                  class="link"></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </article>-->
<!--          <article class="post type-post">-->
<!--            <div class="outer">-->
<!--              <div class="featured-image">-->
<!--                <div class="image pr__image__cover" data-src="assets/images/posts/cheddar-3.png"-->
<!--                     data-uk-img=""></div>-->
<!--              </div>-->
<!--              <div class="inner">-->
<!--                <a class="category"-->
<!--                   href="https://cheddar.com/media/new-hangout-app-for-friends-backed-by-dj-khaled-ariana-huffington"></a>-->
<!--                <h3 class="title uk-h5"><a-->
<!--                  href="https://cheddar.com/media/new-hangout-app-for-friends-backed-by-dj-khaled-ariana-huffington">New-->
<!--                  Hangout App for Friends Backed by DJ Khaled, Ariana Huffington</a></h3>-->
<!--                <a href="https://cheddar.com/media/new-hangout-app-for-friends-backed-by-dj-khaled-ariana-huffington"-->
<!--                   class="more icon pr-arrow-right"></a>-->
<!--                <a href="https://cheddar.com/media/new-hangout-app-for-friends-backed-by-dj-khaled-ariana-huffington"-->
<!--                   class="link"></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </article>-->
<!--          <article class="post type-post">-->
<!--            <div class="outer">-->
<!--              <div class="featured-image">-->
<!--                <div class="image pr__image__cover" data-src="assets/images/posts/avon.jpg"-->
<!--                     data-uk-img=""></div>-->
<!--              </div>-->
<!--              <div class="inner">-->
<!--                <a class="category" href="https://www.avonoldfarms.com/cf_news/view.cfm?newsid=1053"></a>-->
<!--                <h3 class="title uk-h5"><a href="https://www.avonoldfarms.com/cf_news/view.cfm?newsid=1053">Avon Old Farms Featured-->
<!--                  Alumnus: Mark French '93</a></h3>-->
<!--                <a href="https://www.avonoldfarms.com/cf_news/view.cfm?newsid=1053"-->
<!--                   class="more icon pr-arrow-right"></a>-->
<!--                <a href="https://www.avonoldfarms.com/cf_news/view.cfm?newsid=1053" class="link"></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </article>-->
<!--        </div>-->
<!--      </div>&lt;!&ndash; Container End &ndash;&gt;-->
<!--    </div>&lt;!&ndash; Inner End &ndash;&gt;-->
<!--  </div>&lt;!&ndash; Outer End &ndash;&gt;-->
<!--</section>&lt;!&ndash; Section: Blog End &ndash;&gt;-->
